<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Component</title>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand">Fragment herder.html Cover Header</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="https://getbootstrap.com/docs/4.1/examples/cover/#">Home</a>
            <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/cover/#">Features</a>
            <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/cover/#">Contact US</a>
            <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/cover/#">Other Features</a>
        </nav>
    </div>
</header>

</body>
</html>