<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Conditional Expression</h1>
<h2>If-then</h2>
<p th:text="${person1.address}?${person1.address.street}">Default person1 Street</p>
<p th:text="${person2.address}?${person2.address.street}">Default person2 Street</p>

<h2>If-then-else</h2>
<p th:text="${person1.address} ? ${person1.address.zipCode} : 'not exist'">Default Zipcode 1</p>
<p th:text="${person2.address} ? ${person2.address.zipCode} : 'Person2 does not have an address'">Default Zipcode 2</p>

<h2>Elvis Operator</h2>
<p th:text="${person1.address}?:'not exist'">Default address1</p>
<p th:text="${person2.address}?:'Person2 does not have an address...'">Default address2</p>

<h2>If-Unless</h2>
<p th:if="${gender=='F'}">Female</p>
<p th:unless="${gender=='F'}">Male</p>
</body>
</html>